@import "tailwindcss";
@import "./theme.css";
@import "./swatches.css";
@import "./variants.css";
@import "./zebra.css";

@layer base {
	* {
		@apply selection:!bg-surface-500/25 appearance-none outline-transparent;
	}

	:root {
		@apply bg-background text-swatch-900-foreground overflow-y-auto overscroll-none;
	}
}

@layer components {
	i {
		@apply icon;
	}

	.badge {
		@apply control text-swatch-700-mood rounded text-xs;
	}

	.button {
		@apply control disabled:text-swatch-700-foreground not-disabled:hover:brightness-110 not-disabled:active:brightness-95 flex cursor-pointer items-center justify-center gap-1 outline-0 disabled:cursor-not-allowed;

		&.icon {
			@apply aspect-square;
		}
	}

	.input {
		@apply min-w-12 outline-0;
	}

	.control-container {
		@apply *:not-first:!rounded-l-none *:not-last:!rounded-r-none flex overflow-hidden rounded-lg !p-0 *:px-2 *:py-1;
	}

	.container-separator {
		@apply bg-surface-500 w-[1px] !p-0;
	}

	.card {
		@apply bg-background-50 variant-outline;
	}

	.anchor {
		@apply text-accent-500 not-disabled:hover:brightness-110 not-disabled:active:brightness-95 visited:text-purple-500 hover:underline;
	}

	.vessel {
		@apply rounded-lg p-4;
	}

	.control-container {
		@apply *:not-first:!rounded-l-none *:not-last:!rounded-r-none flex;
	}
}

/******* Utilities ********/

@utility mood-* {
	--color-mood: var(--color-*);
	--color-mood-50: --value(--color-* -50);
	--color-mood-100: --value(--color-* -100);
	--color-mood-200: --value(--color-* -200);
	--color-mood-300: --value(--color-* -300);
	--color-mood-400: --value(--color-* -400);
	--color-mood-500: --value(--color-* -500);
	--color-mood-600: --value(--color-* -600);
	--color-mood-700: --value(--color-* -700);
	--color-mood-800: --value(--color-* -800);
	--color-mood-900: --value(--color-* -900);
	--color-mood-950: --value(--color-* -950);
}

@utility control {
	@apply focus-visible:focus-ring rounded-lg px-2 py-1 ring-inset;
}

@utility control-sm {
	@apply rounded px-1 py-0.5 ring-inset;
}

@utility glass {
	@apply backdrop-blur-lg;
}

@utility raised {
	@apply not-disabled:scale-105 not-disabled:shadow;
}

@utility lowered {
	@apply not-disabled:scale-95 not-disabled:shadow-none not-disabled:inset-shadow-sm not-disabled:brightness-95;
}

@utility focus-ring {
	@apply outline-2 outline-offset-2 outline-fuchsia-500;
}

@utility text-mini {
	@apply text-sm font-bold;
}

@utility icon {
	font-family: "Material Symbols Outlined";
	font-style: normal;
	letter-spacing: normal;
	text-transform: none;

	@apply inline-block select-none whitespace-nowrap align-bottom font-normal;

	word-wrap: normal;
	direction: ltr;
	line-height: inherit;
	text-orientation: upright;
	font-feature-settings: "liga";
	-moz-font-feature-settings: "liga";
	-moz-osx-font-smoothing: neutralscale;
}
