@import "tailwindcss" source("../../");

@theme {
    --color-surface: var(--color-zinc-500);
    --color-surface-50: var(--color-zinc-50);
    --color-surface-100: var(--color-zinc-100);
    --color-surface-200: var(--color-zinc-200);
    --color-surface-300: var(--color-zinc-300);
    --color-surface-400: var(--color-zinc-400);
    --color-surface-500: var(--color-zinc-500);
    --color-surface-600: var(--color-zinc-600);
    --color-surface-700: var(--color-zinc-700);
    --color-surface-800: var(--color-zinc-800);
    --color-surface-900: var(--color-zinc-900);
    --color-surface-950: var(--color-zinc-950);

    --color-accent: var(--color-blue-500);
    --color-accent-50: var(--color-blue-50);
    --color-accent-100: var(--color-blue-100);
    --color-accent-200: var(--color-blue-200);
    --color-accent-300: var(--color-blue-300);
    --color-accent-400: var(--color-blue-400);
    --color-accent-500: var(--color-blue-500);
    --color-accent-600: var(--color-blue-600);
    --color-accent-700: var(--color-blue-700);
    --color-accent-800: var(--color-blue-800);
    --color-accent-900: var(--color-blue-900);
    --color-accent-950: var(--color-blue-950);

    --color-warning: var(--color-orange-500);
    --color-warning-50: var(--color-orange-50);
    --color-warning-100: var(--color-orange-100);
    --color-warning-200: var(--color-orange-200);
    --color-warning-300: var(--color-orange-300);
    --color-warning-400: var(--color-orange-400);
    --color-warning-500: var(--color-orange-500);
    --color-warning-600: var(--color-orange-600);
    --color-warning-700: var(--color-orange-700);
    --color-warning-800: var(--color-orange-800);
    --color-warning-900: var(--color-orange-900);
    --color-warning-950: var(--color-orange-950);

    --color-error: var(--color-red-500);
    --color-error-50: var(--color-red-50);
    --color-error-100: var(--color-red-100);
    --color-error-200: var(--color-red-200);
    --color-error-300: var(--color-red-300);
    --color-error-400: var(--color-red-400);
    --color-error-500: var(--color-red-500);
    --color-error-600: var(--color-red-600);
    --color-error-700: var(--color-red-700);
    --color-error-800: var(--color-red-800);
    --color-error-900: var(--color-red-900);
    --color-error-950: var(--color-red-950);

    --color-mood: var(--color-surface-500);
    --color-mood-50: var(--color-surface-50);
    --color-mood-100: var(--color-surface-100);
    --color-mood-200: var(--color-surface-200);
    --color-mood-300: var(--color-surface-300);
    --color-mood-400: var(--color-surface-400);
    --color-mood-500: var(--color-surface-500);
    --color-mood-600: var(--color-surface-600);
    --color-mood-700: var(--color-surface-700);
    --color-mood-800: var(--color-surface-800);
    --color-mood-900: var(--color-surface-900);
    --color-mood-950: var(--color-surface-950);
}

@layer base {
    * {
        @apply appearance-none outline-transparent;
    }

    :root {
        @apply bg-background text-foreground;
    }
}

@layer components {
    i {
        font-family: "Material Symbols Outlined";
        font-style: normal;
        letter-spacing: normal;
        text-transform: none;

        @apply inline-block align-bottom font-normal whitespace-nowrap select-none;

        word-wrap: normal;
        direction: ltr;
        line-height: inherit;
        text-orientation: upright;
        font-feature-settings: "liga";
        -moz-font-feature-settings: "liga";
        -moz-osx-font-smoothing: neutralscale;
    }

    .icon {
        font-family: "Material Symbols Outlined";
        font-style: normal;
        letter-spacing: normal;
        text-transform: none;

        @apply inline-block align-bottom font-normal whitespace-nowrap select-none;

        word-wrap: normal;
        direction: ltr;
        line-height: inherit;
        text-orientation: upright;
        font-feature-settings: "liga";
        -moz-font-feature-settings: "liga";
        -moz-osx-font-smoothing: neutralscale;
    }

    .button {
        @apply focus-visible:focus-ring disabled:text-foreground-weak flex cursor-pointer items-center justify-center gap-1 outline-0 not-disabled:hover:brightness-110 not-disabled:active:brightness-95 disabled:cursor-not-allowed;

        &.icon {
            @apply aspect-square;
        }
    }

    .input {
        @apply min-w-12 outline-0;
    }

    .control-container {
        @apply flex overflow-hidden rounded-lg !p-0 *:px-2 *:py-1 *:not-first:!rounded-l-none *:not-last:!rounded-r-none;
    }

    .container-separator {
        @apply bg-surface-500 w-[1px] !p-0;
    }

    .card {
        @apply bg-background-translucent ring-surface-500/50 ring ring-inset;
    }

    .anchor {
        @apply text-accent visited:text-accent-800 dark:visited:text-accent-100 hover:underline not-disabled:hover:brightness-110 not-disabled:active:brightness-95;
    }

    .badge {
        @apply text-mood-700 dark:text-mood-200 !rounded text-xs;
    }

    .vessel {
        @apply rounded-lg p-4;
    }

    .control-container {
        @apply flex *:not-first:!rounded-l-none *:not-last:!rounded-r-none;
    }
}

@utility mood-* {
    --color-mood: --value(--color- * -500);
    --color-mood-50: --value(--color- * -50);
    --color-mood-100: --value(--color- * -100);
    --color-mood-200: --value(--color- * -200);
    --color-mood-300: --value(--color- * -300);
    --color-mood-400: --value(--color- * -400);
    --color-mood-500: --value(--color- * -500);
    --color-mood-600: --value(--color- * -600);
    --color-mood-700: --value(--color- * -700);
    --color-mood-800: --value(--color- * -800);
    --color-mood-900: --value(--color- * -900);
    --color-mood-950: --value(--color- * -950);
}

@utility variant-basic {
    @apply rounded-lg px-2 py-1 ring-inset;
}

@utility variant-outline {
    @apply ring-mood-500/50 variant-basic ring;
}

@utility variant-subtle {
    @apply bg-mood-400/25 variant-basic;
}

@utility variant-ghost {
    @apply variant-subtle variant-outline;
}

@utility variant-filled {
    @apply bg-mood-500 text-foreground-invert variant-basic;
}

@utility glass {
    @apply backdrop-blur-lg;
}

@utility raised {
    @apply not-disabled:scale-105 not-disabled:shadow;
}

@utility lowered {
    @apply not-disabled:scale-95 not-disabled:brightness-95 not-disabled:inset-shadow-sm not-disabled:shadow-none;
}

@utility focus-ring {
    @apply outline-2 outline-offset-2 outline-fuchsia-500;
}

@utility text-mini {
    @apply text-sm font-bold;
}

@utility text-micro {
    @apply text-xs font-bold;
}

@utility text-foreground {
    @apply not-dark:text-neutral-900 dark:text-neutral-100;
}

@utility text-foreground-weak {
    @apply text-neutral-600 dark:text-neutral-300;
}

@utility text-foreground-invert {
    @apply text-neutral-100 dark:text-neutral-900;
}

@utility text-mood {
    @apply text-mood-500;
}

@utility text-mood-weak {
    @apply text-mood-600 dark:text-mood-300;
}

@utility bg-background {
    @apply bg-white dark:bg-black;
}

@utility bg-background-translucent {
    @apply bg-white/50 dark:bg-black/50;
}
